<div id="addmodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullname" name="fullname" aria-describedby="fullnameHelp"
                               value="{{ request.form['fullname'] }}">
                        <div id="fullnameHelp" class="form-text">Student complete name, ie: Anna Maria Rossi</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">e-Mail</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                               value="{{ request.form['email'] }}">
                        <div id="emailHelp" class="form-text">We'll never share student's email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="birthdate" class="form-label">Birth Date</label>
                        <input id="birthdate" name="birthdate" class="form-control" type="date" aria-describedby="dateHelp"
                               value="{{ request.form['birthdate'] }}"/>
                        <div id="dateHelp" class="form-text">Student's birth date</div>
                    </div>
                    <div class="mb-3">
                        <label for="numberofcourses" class="form-label">Number of Courses</label>
                        <input type="number" class="form-control" id="numberofcourses" name="numberofcourses" aria-describedby="coursesHelp"
                               value="{{ request.form['birthdate'] }}">
                        <div id="coursesHelp" class="form-text">Number of courses the student is registered to.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>