{% extends 'base.html' %}

{% block content %}

    <h1>Students</h1>
    <p class="fs-6 text-secondary"> Version {{ context.version }} </p>

    <div class="row mt-5">
        <div class="col-9">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">eMail</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col">Number of Courses</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for student in context.students %}
                    <tr>
                        <th scope="row">{{ student.id }}</th>
                        <td>{{ student.fullname }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.birthdate }}</td>
                        <td>{{ student.number_of_courses }}</td>
                        <td>
                            <button type="button" class="btn btn-light btn-sm"><i class="bi-pencil"></i></button>
                            &nbsp;
                            <button type="button" class="btn btn-light btn-sm"
                                onclick="deleteEntry('{{ student.id }}');"
                            ><i class="bi-trash"></i></button>
                            &nbsp;
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-3">
            &nbsp;
        </div>
    </div>

    <div class="mt-3">
        <button type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#addmodal">
            <span><i class="bi-plus"></i> Add new student</span>
        </button>
        <a href="/" class="btn btn-secondary" type="button">Back...</a>
    </div>


    {% include 'delete_modal.html' %}
    {% include 'add_modal.html' %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
              <strong>ERROR</strong><br /> {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}

{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static', filename='js/more.js') }}"></script>
{% endblock %}

